node-red/flows.json
[{"id":"55e3c78a.a11168","type":"tab","label":"Outside connection","disabled":false,"info":"Flow to receive commands and values from\nexternal web socket, split the equipment name\nout of the command and send the remaining\ncommand to the appropriate flowto be handled\nby the equipment. \n\nExpected message format from external web\nsocket connection is as follows:\n`msg.topic` (string) defines the equipment\n    and command.\n    example: msg.topic = TCU:1|BATH:TEMP:PV\n        equipment is seprated by command by\n        \"|\"\n        Within equipment and command items\n        are seperated by \":\"\n        \n`msg.paylod` (str|number|object): provides\n    the values to send to the equipment defined\n    by the msg.topic."},{"id":"eb47fea0.87ca9","type":"tab","label":"TCU:1","disabled":false,"info":""},{"id":"9e715a5d.aad318","type":"tab","label":"TCU:2","disabled":false,"info":""},{"id":"4690c206.7908ac","type":"tab","label":"TCU 1 Old","disabled":true,"info":""},{"id":"1c961d4e.c1cfd3","type":"tab","label":"TCU 2 Old","disabled":true,"info":""},{"id":"f4a5a432.977d58","type":"tab","label":"TCU 3","disabled":true,"info":""},{"id":"2410a9c4.77f756","type":"tab","label":"PLC","disabled":true,"info":""},{"id":"de8518e.44499e8","type":"tab","label":"Pumps","disabled":true,"info":""},{"id":"7a4bbbcd.f3de04","type":"tab","label":"Stir 1","disabled":true,"info":""},{"id":"7b3ed3e0.a30c8c","type":"tab","label":"Stir 2","disabled":true,"info":""},{"id":"911ec690.702d28","type":"tab","label":"Stir 3","disabled":true,"info":""},{"id":"4910e0b9.0094a","type":"tab","label":"IR","disabled":true,"info":""},{"id":"b3251f26.92e43","type":"tab","label":"FBRM","disabled":true,"info":""},{"id":"a5c752b4.9a948","type":"subflow","name":"MQTT equipment","info":"","category":"FAST Equipment","in":[{"x":320,"y":140,"wires":[{"id":"e04368df.4aa588"}]}],"out":[{"x":1280,"y":140,"wires":[{"id":"b31c5dfd.836b8","port":0}]}],"env":[]},{"id":"22d174df.74346c","type":"subflow","name":"balance","info":"","category":"lab equipment","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[]}],"env":[]},{"id":"d221c175.b6feb","type":"subflow","name":"pump","info":"","category":"FAST Equipment","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[]}],"env":[]},{"id":"61547feb.61fe8","type":"subflow","name":"stir","info":"","category":"FAST Equipment","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[]}],"env":[]},{"id":"9b099651.5e2a48","type":"subflow","name":"FAST input","info":"","category":"FAST Equipment","in":[],"out":[],"env":[]},{"id":"11b9850d.964dfb","type":"postgresdb","z":"","hostname":"postgres","port":"5432","db":"crystallization","ssl":false},{"id":"2e033692.9a2b6a","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"crystallization","name":"","usetls":false,"tls":""},{"id":"f81996f0.99aee8","type":"ui_group","z":"","name":"MT Balance","tab":"","disp":true,"width":"6","collapse":false},{"id":"e226105f.02144","type":"mqtt-broker","z":"","name":"xeon","broker":"10.131.72.83","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b3acf60b.ca0db8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Crystallization","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ba6631.51bd49d","type":"OpcUa-Endpoint","z":"","endpoint":"http://192.168.1.130:62551/iCOpcUaServer","secpol":"None","secmode":"NONE","login":false},{"id":"fca89040.aa06c","type":"ui_group","z":"","name":"TCU 1","tab":"ee9aeec7.d445f","order":1,"disp":true,"width":"6","collapse":false},{"id":"71d34856.677478","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://10.131.0.233:62552/iCOpcUaServer","secpol":"None","secmode":"NONE","login":false},{"id":"ee9aeec7.d445f","type":"ui_tab","z":"","name":"Temperature","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ff3c3264.008f","type":"mqtt-broker","z":"","name":"crystallizer","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46c67127.42309","type":"influxdb","z":"f4a5a432.977d58","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"6ecea805.65f538","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.150","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"e6b9b970.bf64e8","type":"ui_group","z":"","name":"Pump 1","tab":"d7d1e33d.a226d","order":1,"disp":true,"width":"6","collapse":false},{"id":"817d1e71.1ae61","type":"ui_tab","z":"","name":"IR","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"3aae0048.64e39","type":"ui_group","z":"","name":"Raw Spectra","tab":"817d1e71.1ae61","order":1,"disp":true,"width":"12","collapse":false},{"id":"9e5441cb.7c9eb","type":"ui_group","z":"","name":"TCU 2","tab":"ee9aeec7.d445f","order":2,"disp":true,"width":"6","collapse":false},{"id":"9d5c6cc6.dbe65","type":"ui_group","z":"","name":"TCU 3","tab":"ee9aeec7.d445f","order":3,"disp":true,"width":"6","collapse":false},{"id":"d9f8e345.a364b","type":"ui_spacer","name":"spacer","group":"fca89040.aa06c","order":5,"width":"3","height":1},{"id":"caa18344.12746","type":"ui_spacer","name":"spacer","group":"9e5441cb.7c9eb","order":5,"width":"3","height":1},{"id":"47964a68.842964","type":"ui_spacer","name":"spacer","group":"9d5c6cc6.dbe65","order":5,"width":"3","height":1},{"id":"d7d1e33d.a226d","type":"ui_tab","z":"","name":"Pumps","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"76886a3f.2ae464","type":"ui_group","z":"","name":"Pump 2","tab":"d7d1e33d.a226d","order":2,"disp":true,"width":"6","collapse":false},{"id":"4f9772ac.8321ac","type":"ui_group","z":"","name":"Pump 3","tab":"d7d1e33d.a226d","order":3,"disp":true,"width":"6","collapse":false},{"id":"cccc2dfd.772e4","type":"ui_group","z":"","name":"Pump 4","tab":"d7d1e33d.a226d","order":4,"disp":true,"width":"6","collapse":false},{"id":"8b52e981.03d1b8","type":"ui_spacer","name":"spacer","group":"e6b9b970.bf64e8","order":2,"width":"3","height":1},{"id":"c48e8d8f.31515","type":"ui_spacer","name":"spacer","group":"e6b9b970.bf64e8","order":4,"width":"1","height":1},{"id":"6f78ccb3.6357e4","type":"ui_spacer","name":"spacer","group":"76886a3f.2ae464","order":4,"width":1,"height":1},{"id":"896fc5d9.eef348","type":"ui_spacer","name":"spacer","group":"4f9772ac.8321ac","order":4,"width":1,"height":1},{"id":"44c5af8e.bd7d8","type":"ui_spacer","name":"spacer","group":"cccc2dfd.772e4","order":4,"width":1,"height":1},{"id":"1e828da7.327fd2","type":"ui_spacer","name":"spacer","group":"76886a3f.2ae464","order":2,"width":"3","height":1},{"id":"944e7cab.f81d","type":"ui_spacer","name":"spacer","group":"4f9772ac.8321ac","order":2,"width":"3","height":1},{"id":"fc336798.6067d8","type":"ui_spacer","name":"spacer","group":"cccc2dfd.772e4","order":2,"width":"3","height":1},{"id":"1dcdcf5f.68bee1","type":"ui_group","z":"","name":"Chart","tab":"","disp":true,"width":"12","collapse":false},{"id":"bc02433b.20f67","type":"ui_group","z":"","name":"demo 3","tab":"","order":1,"disp":false,"width":"12","collapse":false},{"id":"637699fd.22f2c8","type":"ui_group","z":"","name":"demo 2","tab":"","order":1,"disp":false,"width":"12","collapse":false},{"id":"fd9a0e2d.60c44","type":"ui_group","z":"4910e0b9.0094a","name":"Default","tab":"","disp":true,"width":"6"},{"id":"85158aab.eff3d8","type":"ui_group","z":"","name":"demo 1","tab":"","order":1,"disp":false,"width":"12","collapse":false},{"id":"2c56939f.803cac","type":"ui_group","z":"","name":"demo 3","tab":"","order":1,"disp":false,"width":"12","collapse":false},{"id":"5e2e6542.d6828c","type":"ui_group","z":"","name":"demo 2","tab":"","order":1,"disp":false,"width":"12","collapse":false},{"id":"13b851bd.01757e","type":"ui_group","z":"","name":"selected peaks","tab":"817d1e71.1ae61","order":2,"disp":true,"width":"12","collapse":false},{"id":"a430d7bc.1ccd18","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"7ede6356.a220cc","type":"ui_tab","z":"","name":"FBRM","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"c5e7efdc.fdd55","type":"ui_group","z":"","name":"Distributions","tab":"7ede6356.a220cc","order":1,"disp":true,"width":"12","collapse":false},{"id":"6dc49091.42e9d","type":"ui_group","z":"","name":"peak selection","tab":"7ede6356.a220cc","order":2,"disp":true,"width":"6","collapse":false},{"id":"992e990a.5d1558","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://10.131.1.35:62552/icOpcUaServer","secpol":"None","secmode":"NONE","login":false},{"id":"1ee49e44.34aaa2","type":"ui_spacer","name":"spacer","group":"9d5c6cc6.dbe65","order":2,"width":"6","height":1},{"id":"8177f99.0378608","type":"ui_spacer","name":"spacer","group":"fca89040.aa06c","order":2,"width":"6","height":1},{"id":"9f2adba9.50ff98","type":"ui_spacer","name":"spacer","group":"9e5441cb.7c9eb","order":2,"width":"6","height":1},{"id":"e4b1cb30.fae218","type":"ui_tab","z":"","name":"Stir","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a3b3653e.498ac8","type":"ui_group","z":"","name":"Stir 3","tab":"e4b1cb30.fae218","order":3,"disp":true,"width":"6","collapse":false},{"id":"8db4efb1.c26bb","type":"ui_group","z":"","name":"Stir 2","tab":"e4b1cb30.fae218","order":2,"disp":true,"width":"6","collapse":false},{"id":"c12c7062.05da1","type":"ui_group","z":"","name":"Stir 1","tab":"e4b1cb30.fae218","order":1,"disp":true,"width":"6","collapse":false},{"id":"6ac39716.07f6b8","type":"ui_tab","z":"","name":"Process equipment","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"61ae3ed8.854c","type":"ui_group","z":"","name":"TCU","tab":"6ac39716.07f6b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"81401fd3.c5d93","type":"websocket-listener","z":"","path":"/ws/crystallizer","wholemsg":"false"},{"id":"b6929565.a45d18","type":"mqtt out","z":"a5c752b4.9a948","name":"send command","topic":"","qos":"","retain":"","broker":"e226105f.02144","x":700,"y":140,"wires":[]},{"id":"e04368df.4aa588","type":"function","z":"a5c752b4.9a948","name":"format mqtt","func":"flow.set(\"topic\", msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["b6929565.a45d18"]]},{"id":"acc01807.f2cac8","type":"mqtt in","z":"a5c752b4.9a948","name":"command response","topic":"res/balance/#","qos":"2","datatype":"auto","broker":"e226105f.02144","x":890,"y":140,"wires":[["b31c5dfd.836b8"]]},{"id":"b31c5dfd.836b8","type":"function","z":"a5c752b4.9a948","name":"select topic","func":"var command = flow.get(\"topic\").split(\"/\").slice(1).join(\"/\");\nvar response = msg.topic;\n\nif (response.split(\"/\")[0] === \"res\" &&\n    response.split(\"/\").slice(1).join(\"/\") === command) {\n        msg.payload = msg.payload;\n        return msg;\n}","outputs":1,"noerr":0,"x":1130,"y":140,"wires":[[]]},{"id":"7036ad2.8319054","type":"modbus-flex-write","z":"2410a9c4.77f756","name":"","showStatusActivities":true,"showErrors":true,"server":"6ecea805.65f538","x":890,"y":580,"wires":[[],[]]},{"id":"2f69238e.f368ec","type":"OpcUa-Client","z":"4910e0b9.0094a","endpoint":"992e990a.5d1558","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"IR 1","x":350,"y":140,"wires":[["128afddc.2e0da2"]]},{"id":"853e0d1f.358e4","type":"inject","z":"4910e0b9.0094a","name":"raw spectra","topic":"ns=2;s=Local.iCIR.Probe2.SpectraRaw;datatype=Double","payload":"","payloadType":"str","repeat":"40","crontab":"","once":true,"onceDelay":".2","x":190,"y":100,"wires":[["2f69238e.f368ec"]]},{"id":"650f069b.3421b8","type":"modbus-flex-getter","z":"2410a9c4.77f756","name":"Modbus Flexible Read","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"6ecea805.65f538","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":900,"y":640,"wires":[[],["84d75cf2.bd5bd"]]},{"id":"f5bc0eea.d882c","type":"inject","z":"2410a9c4.77f756","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":960,"wires":[["624303e6.7e44dc"]]},{"id":"624303e6.7e44dc","type":"function","z":"2410a9c4.77f756","name":"read register Pumpout1","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 253, \n    'address': 3800, \n    'quantity': 2 \n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":960,"wires":[[]]},{"id":"6439599e.464358","type":"tcp request","z":"4690c206.7908ac","server":"192.168.1.111","port":"5000","out":"sit","splitc":" ","name":"192.168.1.111","x":900,"y":400,"wires":[["82d355d8.686cc8"]]},{"id":"be40f9d8.c44ce8","type":"ui_text_input","z":"4690c206.7908ac","name":"BATH:TEMP:SP","label":"SP","tooltip":"Working temperature set point for Julabo 3","group":"fca89040.aa06c","order":6,"width":"2","height":"1","passthru":true,"mode":"text","delay":"0","topic":"BATH:TEMP:SP","x":180,"y":160,"wires":[["44dd411f.2a93c"]]},{"id":"6c7e6e05.91aab","type":"inject","z":"4690c206.7908ac","name":"BATH:TEMP:PV","topic":"BATH:TEMP:PV","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":170,"y":240,"wires":[["44dd411f.2a93c"]]},{"id":"6e6e1779.336528","type":"inject","z":"4690c206.7908ac","name":"SENSOR:TEMP:PV","topic":"SENSOR:TEMP:PV","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":"11","x":160,"y":280,"wires":[["44dd411f.2a93c"]]},{"id":"25bc9c50.340ba4","type":"delay","z":"4690c206.7908ac","name":"limit msg rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":400,"wires":[["6a0775b2.ef722c"]]},{"id":"dcc3c52e.461428","type":"function","z":"4690c206.7908ac","name":"format command","func":"switch (msg.command) {\n    case \"BATH:REMOTE:START\":\n        msg.payload = \"out_mode_05 1 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:REMOTE:STOP\":\n        msg.payload = \"out_mode_05 0 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:TEMP:SP\":\n        msg.payload = \"out_sp_00 \" + String(msg.payload) + \" \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:TEMP:PV\":\n        msg.payload = \"in_pv_00 \\r\";\n        node.send(msg);\n        break;\n    case \"SENSOR:TEMP:PV\":\n        msg.payload = \"in_pv_03 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:MODE\":\n        parameter = msg.payload;\n        msg.payload = \"out_mode_05 0 \\r\"; node.send(msg);\n        setTimeout(function() {\n            msg1 = {\n                \"payload\": \"out_mode_04 \" + String(Number(parameter)) + \" \\r\",\n                \"topic\": msg.topic\n            };\n            node.send(msg1)\n        }, 300);    \n        setTimeout(function() {\n            msg.payload = \"out_mode_05 1 \\r\";\n            node.send(msg);\n        }, 600);\n        break;\n    default:\n        break;\n}","outputs":1,"noerr":0,"x":690,"y":400,"wires":[["6439599e.464358"]]},{"id":"88f368e3.8fa6a8","type":"inject","z":"4690c206.7908ac","name":"BATH:REMOTE:START","topic":"BATH:REMOTE:START","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":150,"y":60,"wires":[["44dd411f.2a93c"]]},{"id":"b09fb1c9.adccc","type":"inject","z":"4690c206.7908ac","name":"BATH:REMOTE:STOP","topic":"BATH:REMOTE:STOP","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":160,"y":100,"wires":[["44dd411f.2a93c"]]},{"id":"bc81ece2.0bf6f","type":"ui_switch","z":"4690c206.7908ac","name":"Mode","label":"Tr Mode","tooltip":"Set Julabo mode to Tr","group":"fca89040.aa06c","order":4,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"BATH:MODE","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":200,"wires":[["44dd411f.2a93c"]]},{"id":"84d75cf2.bd5bd","type":"function","z":"2410a9c4.77f756","name":"read buffer","func":"let ba = msg.payload[\"buffer\"].toJSON()[\"data\"];\nba = [ba[2], ba[3], ba[0], ba[1]];\nbuf = Buffer.from(ba);\nvalue = buf.readFloatBE(buf);\nmsg.payload = value.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":640,"wires":[["9e79121b.9166e"]]},{"id":"b4afc793.d2b188","type":"ui_gauge","z":"2410a9c4.77f756","name":"PV","group":"e6b9b970.bf64e8","order":3,"width":"5","height":"4","gtype":"gage","title":"PV","label":"ml/min","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":820,"wires":[]},{"id":"5c4b0383.0383bc","type":"ui_text_input","z":"2410a9c4.77f756","name":"PUMP:1:RATE:SP","label":"SP","tooltip":"set point for pump 1","group":"e6b9b970.bf64e8","order":5,"width":"2","height":"1","passthru":true,"mode":"number","delay":"0","topic":"PUMP:1:RATE:SP","x":170,"y":60,"wires":[["e0da46df.047848"]]},{"id":"e11fa6ad.c8a398","type":"inject","z":"2410a9c4.77f756","name":"PUMP:1:RATE:PV","topic":"PUMP:1:RATE:PV","payload":"{\"address\": 3600}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":420,"wires":[["e0da46df.047848"]]},{"id":"f475808e.8e022","type":"inject","z":"2410a9c4.77f756","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":900,"wires":[["db5ffb45.963828"]]},{"id":"db5ffb45.963828","type":"function","z":"2410a9c4.77f756","name":"AO_01_RAW read holding register %AQ1 address 0 - FC3 ","func":"msg.payload = { 'fc': 3, 'unitid': 253, 'address': 0 , 'quantity': 1 }\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":900,"wires":[[]]},{"id":"bf36acc.7dd345","type":"function","z":"2410a9c4.77f756","name":"AI1_Raw Read input register %AI1  FC4 - 0","func":"msg.payload = { 'fc': 4, 'unitid': 253, 'address': 0 , 'quantity': 1 }\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":840,"wires":[[]]},{"id":"b0067c87.d650c","type":"inject","z":"2410a9c4.77f756","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":840,"wires":[["bf36acc.7dd345"]]},{"id":"e9859eaa.d358a","type":"ui_text_input","z":"2410a9c4.77f756","name":"PUMP:2:RATE:SP","label":"SP","tooltip":"set point for pump 2","group":"76886a3f.2ae464","order":5,"width":"2","height":"1","passthru":true,"mode":"number","delay":"0","topic":"PUMP:2:RATE:SP","x":170,"y":100,"wires":[["e0da46df.047848"]]},{"id":"e51c1298.f91a1","type":"ui_text_input","z":"2410a9c4.77f756","name":"PUMP:3:RATE:SP","label":"SP","tooltip":"set point for pump 3","group":"4f9772ac.8321ac","order":5,"width":"2","height":"1","passthru":true,"mode":"number","delay":"0","topic":"PUMP:3:RATE:SP","x":170,"y":140,"wires":[["e0da46df.047848"]]},{"id":"e6e9c865.7cbe18","type":"ui_text_input","z":"2410a9c4.77f756","name":"PUMP:4:RATE:SP","label":"SP","tooltip":"set point for pump 4","group":"cccc2dfd.772e4","order":5,"width":"2","height":"1","passthru":true,"mode":"number","delay":"0","topic":"PUMP:4:RATE:SP","x":170,"y":180,"wires":[["e0da46df.047848"]]},{"id":"eb0bad2d.c3856","type":"inject","z":"2410a9c4.77f756","name":"PUMP:2:RATE:PV","topic":"PUMP:2:RATE:PV","payload":"{\"address\": 3602}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":"0.5","x":140,"y":460,"wires":[["e0da46df.047848"]]},{"id":"1bd92678.e8beca","type":"inject","z":"2410a9c4.77f756","name":"PUMP:3:RATE:PV","topic":"PUMP:3:RATE:PV","payload":"{\"address\": 3604}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":"1","x":140,"y":500,"wires":[["e0da46df.047848"]]},{"id":"f6be5a0c.e29408","type":"inject","z":"2410a9c4.77f756","name":"PUMP:4:RATE:PV","topic":"PUMP:4:RATE:PV","payload":"{\"address\": 3606}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":"1.5","x":140,"y":540,"wires":[["e0da46df.047848"]]},{"id":"9e79121b.9166e","type":"function","z":"2410a9c4.77f756","name":"format response","func":"let request = flow.get(\"request\");\nlet requestComponents = request.split(\":\");\nlet equipment = requestComponents.slice(0,2).join(\":\");\nlet command = requestComponents.slice(2, requestComponents.length).join(\":\");\n\nif (command === \"RATE:PV\") {\n    msg.payload = [\n        {\n            \"rate\": Number(msg.payload.toString(\"utf8\"))\n        },\n        {\n            \"equipment\": equipment\n        }\n    ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":640,"wires":[["ae8176cf.6eb078","fee6c566.d44118"]]},{"id":"75042a4a.598a04","type":"ui_switch","z":"2410a9c4.77f756","name":"PUMP:1:STATE","label":"off/on","tooltip":"Pump 1 switch","group":"e6b9b970.bf64e8","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"PUMP:1:STATE","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":234,"wires":[["e0da46df.047848"]]},{"id":"80b31438.f7b948","type":"ui_switch","z":"2410a9c4.77f756","name":"PUMP:2:STATE","label":"off/on","tooltip":"Pump 2 switch","group":"76886a3f.2ae464","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"PUMP:2:STATE","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":274,"wires":[["e0da46df.047848"]]},{"id":"813b716a.87ee3","type":"ui_switch","z":"2410a9c4.77f756","name":"PUMP:3:STATE","label":"off/on","tooltip":"Pump 3 switch","group":"4f9772ac.8321ac","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"PUMP:3:STATE","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":314,"wires":[["e0da46df.047848"]]},{"id":"2760ebb5.fbe094","type":"ui_switch","z":"2410a9c4.77f756","name":"PUMP:4:STATE","label":"off/on","tooltip":"Pump 4 switch","group":"cccc2dfd.772e4","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"PUMP:4:STATE","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":354,"wires":[["e0da46df.047848"]]},{"id":"a12016c2.e83da8","type":"ui_gauge","z":"2410a9c4.77f756","name":"PV","group":"76886a3f.2ae464","order":3,"width":"5","height":"4","gtype":"gage","title":"PV","label":"ml/min","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":860,"wires":[]},{"id":"a4e24f35.c8512","type":"ui_gauge","z":"2410a9c4.77f756","name":"PV","group":"4f9772ac.8321ac","order":3,"width":"5","height":"4","gtype":"gage","title":"PV","label":"ml/min","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":900,"wires":[]},{"id":"ce291150.b6531","type":"ui_gauge","z":"2410a9c4.77f756","name":"PV","group":"cccc2dfd.772e4","order":3,"width":"5","height":"4","gtype":"gage","title":"PV","label":"ml/min","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":940,"wires":[]},{"id":"ae8176cf.6eb078","type":"influxdb out","z":"2410a9c4.77f756","influxdb":"2e033692.9a2b6a","name":"crystallization","measurement":"crystallization","precision":"","retentionPolicy":"","x":960,"y":760,"wires":[]},{"id":"128afddc.2e0da2","type":"function","z":"4910e0b9.0094a","name":"format data","func":"let labels = [];\nif (msg.topic.includes(\"XAxisDefinition\")) {\n    labels = msg.payload.axisSteps.map(function(elem) {\n        return Number(elem.toFixed(0));\n    });\n    flow.set(\"xaxis\", labels);\n}\nelse {\n    let data = [];\n    for (var label in msg.payload) {\n        //labels.push(Number(label));\n        labels = flow.get(\"xaxis\");\n        data.push(msg.payload[label]);\n    }\n    msg.payload = {\n        \"labels\": labels,\n        \"data\": data\n    }\n    msg.topic = \"data\";\n\n    return msg;\n}","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["edc24171.f3276","6bb05384.629fdc","67716ad7.afcce4"]]},{"id":"edc24171.f3276","type":"template","z":"4910e0b9.0094a","name":"","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<canvas id=\"line-chart\" width=\"2\" height=\"1\" style=\"border:1px solid #000000;\"></canvas>\n\n<script>\nnew Chart(document.getElementById(\"line-chart\"), {\n  type: 'line',\n  data: {\n    labels: [{{{payload.labels}}}],\n    datasets: [{ \n        data: [{{{payload.data}}}],\n        label: \"crystallizer 1\",\n        borderColor: \"#3e95cd\",\n        fill: false\n      }\n    ]\n  },\n  options: {\n    title: {\n      display: true,\n      text: 'IR 1'\n    }\n  }\n});\n\n</script>\n","output":"str","x":820,"y":140,"wires":[["bc90d0d6.a6bb3"]]},{"id":"bc90d0d6.a6bb3","type":"ui_template","z":"4910e0b9.0094a","group":"3aae0048.64e39","name":"raw spectra","order":1,"width":"12","height":"7","format":"ignored","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1010,"y":140,"wires":[[]]},{"id":"6bb05384.629fdc","type":"function","z":"4910e0b9.0094a","name":"extract point","func":"msg.payload= msg.payload[\"data\"][flow.get(\"peak1\")];\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":260,"wires":[["3dc5dda7.5a22e2","b3232c02.32f07"]]},{"id":"3dc5dda7.5a22e2","type":"ui_chart","z":"4910e0b9.0094a","name":"peak","group":"13b851bd.01757e","order":1,"width":"12","height":"6","label":"peak","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":260,"wires":[[]]},{"id":"22e19d0f.68c122","type":"ui_text_input","z":"4910e0b9.0094a","name":"peak selection","label":"selected peak","tooltip":"enter peak position to be tracked","group":"13b851bd.01757e","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"peak1","x":260,"y":360,"wires":[["e0268e44.8e0d9"]]},{"id":"50c4ab69.687734","type":"inject","z":"4910e0b9.0094a","name":"initialize peak1","topic":"peak1","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":260,"y":320,"wires":[["e0268e44.8e0d9"]]},{"id":"5c50dd81.da1dd4","type":"OpcUa-Client","z":"b3251f26.92e43","endpoint":"71d34856.677478","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"FBRM 1","x":360,"y":160,"wires":[["daa861fa.76256"]]},{"id":"7bd0c944.ca4c18","type":"inject","z":"b3251f26.92e43","name":"node","topic":"ns=2;s=Local.iCFBRM.Experiment.DistributionBinnedDefault","payload":"","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":160,"wires":[["5c50dd81.da1dd4"]]},{"id":"daa861fa.76256","type":"function","z":"b3251f26.92e43","name":"format data","func":"let labels = [];\nlet data = [];\n\nfor (var label in msg.payload) {\n    labels.push(Number(label));\n    data.push(msg.payload[label]);\n}\n\nmsg.payload = {\n    \"labels\": labels,\n    \"data\": data\n    \n}\nmsg.topic = \"data\";\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["766151ae.bcf1e","f8f26675.304b78"]]},{"id":"766151ae.bcf1e","type":"template","z":"b3251f26.92e43","name":"","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<canvas id=\"line-chart\" width=\"3\" height=\"1\" style=\"border:1px solid #000000;\"></canvas>\n\n<script>\nnew Chart(document.getElementById(\"line-chart\"), {\n  type: 'line',\n  data: {\n    labels: [{{{payload.labels}}}],\n    datasets: [{ \n        data: [{{{payload.data}}}],\n        label: \"crystallizer 1\",\n        borderColor: \"#3e95cd\",\n        fill: false\n      }\n    ]\n  },\n  options: {\n    title: {\n      display: true,\n      text: 'Raw IR spectra'\n    }\n  }\n});\n\n</script>\n","output":"str","x":800,"y":160,"wires":[["b407c831.e95468"]]},{"id":"b407c831.e95468","type":"ui_template","z":"b3251f26.92e43","group":"c5e7efdc.fdd55","name":"distribution 1","order":1,"width":"12","height":"12","format":"ignored","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":990,"y":160,"wires":[[]]},{"id":"f8f26675.304b78","type":"function","z":"b3251f26.92e43","name":"extract point","func":"if (msg.topic === \"peak1\") {\n    context.set(\"peak1\", msg.payload);\n}\nelse {\n    msg.payload= msg.payload[\"data\"][context.get(\"peak1\")];\n    return msg;\n}\n","outputs":1,"noerr":0,"x":830,"y":280,"wires":[["5609f436.a2ee6c","f7e1343.fc2ebc8"]]},{"id":"5609f436.a2ee6c","type":"ui_chart","z":"b3251f26.92e43","name":"peak","group":"6dc49091.42e9d","order":2,"width":"6","height":"6","label":"peak","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":280,"wires":[[]]},{"id":"f7e1343.fc2ebc8","type":"debug","z":"b3251f26.92e43","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":360,"wires":[]},{"id":"7c02504b.6f34b","type":"ui_text_input","z":"b3251f26.92e43","name":"peak selection","label":"selected peak","tooltip":"enter peak position to be tracked","group":"6dc49091.42e9d","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"peak1","x":600,"y":280,"wires":[["f8f26675.304b78"]]},{"id":"cfdb5779.7e8048","type":"inject","z":"b3251f26.92e43","name":"initialize peak1","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":380,"y":280,"wires":[["7c02504b.6f34b"]]},{"id":"3110db41.bccb24","type":"inject","z":"4910e0b9.0094a","name":"x-axis","topic":"ns=2;s=Local.iCIR.Probe2.SpectraRaw.XAxisDefinition","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":160,"wires":[["2f69238e.f368ec"]]},{"id":"c0c36b8.fe56f98","type":"function","z":"4690c206.7908ac","name":"extract value","func":"let value = Number(msg.payload[0][\"temperature\"]);\n\nswitch (msg.payload[1][\"sensor\"]) {\n    case \"BATH\":\n        msg.payload = value;\n        return [msg, null];\n    case \"SENSOR\":\n        msg.payload = value;\n        return [null, msg];\n    default:\n        break;\n}\nreturn msg;","outputs":2,"noerr":0,"x":830,"y":680,"wires":[["7d94cc9e.485314"],["445e8bb6.083d54"]]},{"id":"8434e662.f83ec8","type":"influxdb out","z":"4690c206.7908ac","influxdb":"2e033692.9a2b6a","name":"crystallization","measurement":"crystallization","precision":"","retentionPolicy":"","x":1080,"y":580,"wires":[]},{"id":"7d94cc9e.485314","type":"ui_gauge","z":"4690c206.7908ac","name":"BATH:TEMP:PV","group":"fca89040.aa06c","order":1,"width":"6","height":"4","gtype":"gage","title":"Bath PV","label":"C","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1120,"y":660,"wires":[]},{"id":"445e8bb6.083d54","type":"ui_gauge","z":"4690c206.7908ac","name":"SENSOR:TEMP:PV","group":"fca89040.aa06c","order":3,"width":"6","height":"4","gtype":"gage","title":"Sensor PV","label":"C","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1120,"y":720,"wires":[]},{"id":"8707acb.2d79b5","type":"postgres","z":"4910e0b9.0094a","postgresdb":"11b9850d.964dfb","name":"crystallization","output":true,"outputs":1,"x":1080,"y":200,"wires":[[]]},{"id":"67716ad7.afcce4","type":"function","z":"4910e0b9.0094a","name":"format database querry","func":"d = new Date();\nmsg.payload = [\n    {\n        query: \"begin\"\n    },\n    {\n        query: \"insert into infrared \" +\n        \"(timestamp, username, experiment, absorption)\" +\n        \"values ($1, $2, $3, $4)\",\n        params: [d.getTime(), \"Brent\", \"test\", msg.payload[\"data\"]],\n        output: false,\n    },\n    {\n        query: \"commit\"\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":200,"wires":[["8707acb.2d79b5"]]},{"id":"953bf49c.a86608","type":"influxdb out","z":"4910e0b9.0094a","influxdb":"2e033692.9a2b6a","name":"IR:1:PEAK1","measurement":"crystallization","precision":"","retentionPolicy":"","x":1290,"y":300,"wires":[]},{"id":"b3232c02.32f07","type":"function","z":"4910e0b9.0094a","name":"format database entry","func":"msg.payload = {\n    \"IR:1:PEAK1\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":300,"wires":[["953bf49c.a86608"]]},{"id":"e0268e44.8e0d9","type":"function","z":"4910e0b9.0094a","name":"set peak","func":"flow.set(msg.topic, msg.payload);\nmsg.payload = flow.get(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[[]]},{"id":"5147245f.48b6fc","type":"tcp request","z":"911ec690.702d28","server":"192.168.1.141","port":"10001","out":"time","splitc":"100","name":"Stir 3","x":850,"y":260,"wires":[["54012be1.bc0c84"]]},{"id":"6de160.8aa25ea","type":"function","z":"911ec690.702d28","name":"format command","func":"switch (msg.command) {\n    case \"SPEED:PV\":\n        msg.payload = \"IN_PV_4\" + \" \";\n        msg.payload = msg.payload + String.fromCodePoint(13) + \" \" + String.fromCodePoint(10);\n        node.send(msg);\n        break;\n    case \"SPEED:SP\":\n        msg.payload = \"OUT_SP_4\" + \" \" + String(msg.payload);\n        msg.payload = msg.payload + String.fromCodePoint(13) + \" \" + String.fromCodePoint(10);\n        node.send(msg);\n        break;\n    case \"START\":\n        msg.payload = \"START_4\" + \" \";\n        msg.payload = msg.payload + String.fromCodePoint(13) + \" \" + String.fromCodePoint(10);\n        node.send(msg);\n        break;\n    case \"STOP\":\n        msg.payload = \"STOP_4\" + \" \";\n        msg.payload = msg.payload + String.fromCodePoint(13) + \" \" + String.fromCodePoint(10);\n        node.send(msg);\n        break;\n    default:\n        break;\n}","outputs":1,"noerr":0,"x":670,"y":260,"wires":[["5147245f.48b6fc"]]},{"id":"4aa28998.b14c68","type":"inject","z":"911ec690.702d28","name":"SPEED:PV","topic":"SPEED:PV","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":140,"wires":[["1ea3ea9c.7d0ef5"]]},{"id":"dd9c53ad.17b97","type":"influxdb out","z":"911ec690.702d28","influxdb":"2e033692.9a2b6a","name":"crystallization","measurement":"crystallization","precision":"","retentionPolicy":"","x":1120,"y":340,"wires":[]},{"id":"972cc326.630a1","type":"ui_text_input","z":"911ec690.702d28","name":"SPEED:SP","label":"SP","tooltip":"Working temperature set point for Julabo 3","group":"a3b3653e.498ac8","order":3,"width":"2","height":"1","passthru":true,"mode":"text","delay":"0","topic":"SPEED:SP","x":110,"y":180,"wires":[["1ea3ea9c.7d0ef5"]]},{"id":"d625a542.2a0b68","type":"ui_gauge","z":"911ec690.702d28","name":"STIR:3 PV","group":"a3b3653e.498ac8","order":2,"width":"6","height":"4","gtype":"gage","title":"speed","label":"RPM","format":"{{value}}","min":"50","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":400,"wires":[]},{"id":"82d355d8.686cc8","type":"function","z":"4690c206.7908ac","name":"format response","func":"let requestComponents = msg.topic.split(\":\");\nlet equipment = requestComponents.slice(0,2).join(\":\");\nlet sensor = requestComponents[2];\n    \nmsg.payload = [\n    {\n        \"temperature\": Number(msg.payload.toString(\"utf8\"))\n    },\n    {\n        \"equipment\": equipment,\n        \"sensor\": sensor,\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":400,"wires":[["8434e662.f83ec8","c0c36b8.fe56f98"]]},{"id":"9a6e94b3.622db8","type":"function","z":"de8518e.44499e8","name":"format float buffer","func":"let buf = Buffer.allocUnsafe(4);\nbuf.writeFloatBE(Number(msg.payload.value));\nlet bytes = buf.toJSON()[\"data\"];\nlet reg1 = Buffer.from([bytes[2], bytes[3]]).readUInt16BE();\nlet reg2 = Buffer.from([bytes[0], bytes[1]]).readUInt16BE();\nlet address = Number(msg.payload.address);\naddress = Number(address.toFixed(0));\n\nsetTimeout(function() {\n    node.send({\n            \"payload\": {\n                \"fc\": 6,\n                \"unitid\": 253,\n                \"address\": address,\n                \"value\": reg1,\n                \"quantity\": 1\n            }\n    });\n}, 100);\n\nsetTimeout(function() {\n    node.send({\n            \"payload\": {\n                \"fc\": 6,\n                \"unitid\": 253,\n                \"address\": address+1,\n                \"value\": reg2,\n                \"quantity\": 1\n            }\n    });\n}, 2000);","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["cbba793e.8ca018"]]},{"id":"cbba793e.8ca018","type":"modbus-flex-write","z":"de8518e.44499e8","name":"","showStatusActivities":true,"showErrors":true,"server":"6ecea805.65f538","x":790,"y":200,"wires":[[],[]]},{"id":"5f8f3c1d.586354","type":"modbus-flex-getter","z":"de8518e.44499e8","name":"Modbus Flexible Read","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"6ecea805.65f538","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":600,"y":480,"wires":[[],["9096e1c2.2566e"]]},{"id":"3367374f.710988","type":"inject","z":"de8518e.44499e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":860,"wires":[["432b1060.432fd"]]},{"id":"432b1060.432fd","type":"function","z":"de8518e.44499e8","name":"read register Pumpout1","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 253, \n    'address': 3800, \n    'quantity': 2 \n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":860,"wires":[[]]},{"id":"9096e1c2.2566e","type":"function","z":"de8518e.44499e8","name":"format and read buffer","func":"let ba = msg.payload[\"buffer\"].toJSON()[\"data\"];\nba = [ba[2], ba[3], ba[0], ba[1]];\nbuf = Buffer.from(ba);\nvalue = buf.readFloatBE(buf);\nmsg.payload = value.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":480,"wires":[["bafa64d3.40dad8"]]},{"id":"af0e4ef9.b89ee","type":"ui_gauge","z":"de8518e.44499e8","name":"PV","group":"e6b9b970.bf64e8","order":3,"width":"5","height":"4","gtype":"gage","title":"PV","label":"ml/min","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":420,"wires":[]},{"id":"6b6826aa.75c4b8","type":"ui_text_input","z":"de8518e.44499e8","name":"PUMP:1:SP","label":"SP","tooltip":"set point for pump 1","group":"e6b9b970.bf64e8","order":5,"width":"2","height":"1","passthru":true,"mode":"number","delay":"0","topic":"PUMP:1:SP","x":150,"y":60,"wires":[["99206fe5.d99f"]]},{"id":"cce8d011.50cc","type":"inject","z":"de8518e.44499e8","name":"PUMP:1:PV","topic":"PUMP:1:PV","payload":"{\"address\": 3600}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":420,"wires":[["7eac21b2.da5dd"]]},{"id":"7eac21b2.da5dd","type":"function","z":"de8518e.44499e8","name":"format read register","func":"flow.set(\"topic\", msg.topic)\n\nmsg.payload = { \n    'fc': 3, \n    'unitid': 253, \n    'address': msg.payload.address, \n    'quantity': 2 \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["5f8f3c1d.586354"]]},{"id":"79871598.0df2fc","type":"inject","z":"de8518e.44499e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":680,"wires":[["b5b58765.87ac08"]]},{"id":"b5b58765.87ac08","type":"function","z":"de8518e.44499e8","name":"AO_01_RAW read holding register %AQ1 address 0 - FC3 ","func":"msg.payload = { 'fc': 3, 'unitid': 253, 'address': 0 , 'quantity': 1 }\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":680,"wires":[[]]},{"id":"304e2ff9.0392c","type":"function","z":"de8518e.44499e8","name":"AI1_Raw Read input register %AI1  FC4 - 0","func":"msg.payload = { 'fc': 4, 'unitid': 253, 'address': 0 , 'quantity': 1 }\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":620,"wires":[[]]},{"id":"3f9ef3b3.7d2f5c","type":"inject","z":"de8518e.44499e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":620,"wires":[["304e2ff9.0392c"]]},{"id":"eabb79ca.ec8948","type":"ui_text_input","z":"de8518e.44499e8","name":"PUMP:2:SP","label":"SP","tooltip":"set point for pump 2","group":"76886a3f.2ae464","order":5,"width":"2","height":"1","passthru":true,"mode":"number","delay":"0","topic":"PUMP:2:SP","x":150,"y":100,"wires":[["99206fe5.d99f"]]},{"id":"826dfeaf.0dcef","type":"ui_text_input","z":"de8518e.44499e8","name":"PUMP:3:SP","label":"SP","tooltip":"set point for pump 3","group":"4f9772ac.8321ac","order":5,"width":"2","height":"1","passthru":true,"mode":"number","delay":"0","topic":"PUMP:3:SP","x":150,"y":140,"wires":[["99206fe5.d99f"]]},{"id":"e9f4fb02.5a9b58","type":"ui_text_input","z":"de8518e.44499e8","name":"PUMP:4:SP","label":"SP","tooltip":"set point for pump 4","group":"cccc2dfd.772e4","order":5,"width":"2","height":"1","passthru":true,"mode":"number","delay":"0","topic":"PUMP:4:SP","x":150,"y":180,"wires":[["99206fe5.d99f"]]},{"id":"99206fe5.d99f","type":"function","z":"de8518e.44499e8","name":"set address","func":"let value = msg.payload;\nmsg.payload = {\"value\": NaN, \"address\": NaN};\n\nmsg.payload[\"value\"] = value;\n\nlet pump = msg.topic.split(\":\")[1];\nswitch (pump) {\n    case \"1\":\n        msg.payload[\"address\"] = 3800;\n        break;\n    case \"2\":\n        msg.payload[\"address\"] = 3802;\n        break;\n    case \"3\":\n        msg.payload[\"address\"] = 3804;\n        break;\n    case \"4\":\n        msg.payload[\"address\"] = 3806;\n        break;\n    default:\n        msg.payload[\"address\"] = NaN;\n        break;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["9a6e94b3.622db8"]]},{"id":"775a9c0f.a506a4","type":"inject","z":"de8518e.44499e8","name":"PUMP:2:PV","topic":"PUMP:2:PV","payload":"{\"address\": 3602}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":"0.5","x":170,"y":460,"wires":[["7eac21b2.da5dd"]]},{"id":"990e4aef.508df8","type":"inject","z":"de8518e.44499e8","name":"PUMP:3:PV","topic":"PUMP:3:PV","payload":"{\"address\": 3604}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":"1","x":170,"y":500,"wires":[["7eac21b2.da5dd"]]},{"id":"4a89ad4a.6f8f94","type":"inject","z":"de8518e.44499e8","name":"PUMP:4:PV","topic":"PUMP:4:PV","payload":"{\"address\": 3606}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":"1.5","x":170,"y":540,"wires":[["7eac21b2.da5dd"]]},{"id":"bafa64d3.40dad8","type":"function","z":"de8518e.44499e8","name":"format pump","func":"let pump = Number(msg.topic.split(\":\")[1]);\nmsg.topic = flow.get(\"topic\");\nmsg.payload = Number(msg.payload);\n\nswitch (pump) {\n    case 1:\n        return [msg, null, null, null];\n    case 2:\n        return [null, msg, null, null];\n    case 3:\n        return [null, null, msg, null];\n    case 4:\n        return [null, null, null, msg];\n}","outputs":4,"noerr":0,"x":1010,"y":480,"wires":[["af0e4ef9.b89ee","7d205bcf.5d4954"],["5beb6122.7e587","25bc8c24.349484"],["492132df.bee7ac","342b9cda.3aa344"],["8243fb21.90ff58","aab46b76.9c3228"]]},{"id":"fff5781f.0d9da8","type":"ui_switch","z":"de8518e.44499e8","name":"PUMP:1:STATE","label":"off/on","tooltip":"Pump 1 switch","group":"e6b9b970.bf64e8","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"PUMP:1:STATE","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":234,"wires":[["d7422f24.c2e07"]]},{"id":"d7422f24.c2e07","type":"function","z":"de8518e.44499e8","name":"format coil command","func":"let value = msg.payload === true ? 1 : 0;\nlet address = NaN;\nlet pump = msg.topic.split(\":\")[1];\nswitch (pump) {\n    case \"1\":\n        address = 0;\n        break;\n    case \"2\":\n        address = 2;\n        break;\n    case \"3\":\n        address = null;\n        break;\n    case \"4\":\n        address = null;\n        break;\n    default:\n        address = NaN;\n        break;\n}\nmsg.payload = {\n    \"fc\": 5,\n    \"unitid\": 253,\n    \"address\": address,\n    \"value\": value,\n    \"quantity\": 1\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":274,"wires":[["cbba793e.8ca018"]]},{"id":"adcd8b0b.47c328","type":"ui_switch","z":"de8518e.44499e8","name":"PUMP:2:STATE","label":"off/on","tooltip":"Pump 2 switch","group":"76886a3f.2ae464","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"PUMP:2:STATE","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":274,"wires":[["d7422f24.c2e07"]]},{"id":"b6486199.d9a95","type":"ui_switch","z":"de8518e.44499e8","name":"PUMP:3:STATE","label":"off/on","tooltip":"Pump 3 switch","group":"4f9772ac.8321ac","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"PUMP:3:STATE","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":314,"wires":[["d7422f24.c2e07"]]},{"id":"7d4e44ce.19f91c","type":"ui_switch","z":"de8518e.44499e8","name":"PUMP:4:STATE","label":"off/on","tooltip":"Pump 4 switch","group":"cccc2dfd.772e4","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"PUMP:4:STATE","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":354,"wires":[["d7422f24.c2e07"]]},{"id":"5beb6122.7e587","type":"ui_gauge","z":"de8518e.44499e8","name":"PV","group":"76886a3f.2ae464","order":3,"width":"5","height":"4","gtype":"gage","title":"PV","label":"ml/min","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":460,"wires":[]},{"id":"492132df.bee7ac","type":"ui_gauge","z":"de8518e.44499e8","name":"PV","group":"4f9772ac.8321ac","order":3,"width":"5","height":"4","gtype":"gage","title":"PV","label":"ml/min","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":500,"wires":[]},{"id":"8243fb21.90ff58","type":"ui_gauge","z":"de8518e.44499e8","name":"PV","group":"cccc2dfd.772e4","order":3,"width":"5","height":"4","gtype":"gage","title":"PV","label":"ml/min","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":540,"wires":[]},{"id":"5aed6d23.c49524","type":"influxdb out","z":"de8518e.44499e8","influxdb":"2e033692.9a2b6a","name":"PUMP:1:PV","measurement":"crystallization","precision":"","retentionPolicy":"","x":1610,"y":420,"wires":[]},{"id":"201e27f2.419d38","type":"influxdb out","z":"de8518e.44499e8","influxdb":"2e033692.9a2b6a","name":"PUMP:2:PV","measurement":"crystallization","precision":"","retentionPolicy":"","x":1610,"y":460,"wires":[]},{"id":"d37cc753.4be518","type":"influxdb out","z":"de8518e.44499e8","influxdb":"2e033692.9a2b6a","name":"PUMP:3:PV","measurement":"crystallization","precision":"","retentionPolicy":"","x":1610,"y":500,"wires":[]},{"id":"4931e575.5dc6bc","type":"influxdb out","z":"de8518e.44499e8","influxdb":"2e033692.9a2b6a","name":"PUMP:4:PV","measurement":"crystallization","precision":"","retentionPolicy":"","x":1610,"y":540,"wires":[]},{"id":"7d205bcf.5d4954","type":"function","z":"de8518e.44499e8","name":"format database entry","func":"msg.payload = {\n    \"PUMP:1:PV\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":420,"wires":[["5aed6d23.c49524"]]},{"id":"25bc8c24.349484","type":"function","z":"de8518e.44499e8","name":"format database entry","func":"msg.payload = {\n    \"PUMP:2:PV\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":460,"wires":[["201e27f2.419d38"]]},{"id":"342b9cda.3aa344","type":"function","z":"de8518e.44499e8","name":"format database entry","func":"msg.payload = {\n    \"PUMP:3:PV\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":500,"wires":[["d37cc753.4be518"]]},{"id":"aab46b76.9c3228","type":"function","z":"de8518e.44499e8","name":"format database entry","func":"msg.payload = {\n    \"PUMP:4:PV\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":540,"wires":[["4931e575.5dc6bc"]]},{"id":"4bdedaaa.6b7704","type":"delay","z":"911ec690.702d28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":260,"wires":[["c657ccd.44b363"]]},{"id":"6a0775b2.ef722c","type":"function","z":"4690c206.7908ac","name":"get request","func":"let requestComponents = msg.topic.split(\":\");\nmsg.command = requestComponents.slice(2, requestComponents.length).join(\":\");\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["dcc3c52e.461428"]]},{"id":"44dd411f.2a93c","type":"function","z":"4690c206.7908ac","name":"format request TCU:1","func":"msg.topic = \"TCU:1:\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["25bc9c50.340ba4"]]},{"id":"9206eb4a.067278","type":"tcp request","z":"1c961d4e.c1cfd3","server":"192.168.1.112","port":"5000","out":"sit","splitc":" ","name":"TCU 2","x":850,"y":420,"wires":[["9951a8e2.2ef168"]]},{"id":"5300a72d.3ced88","type":"ui_text_input","z":"1c961d4e.c1cfd3","name":"BATH:TEMP:SP","label":"SP","tooltip":"Working temperature set point for Julabo 3","group":"9e5441cb.7c9eb","order":6,"width":"2","height":"1","passthru":true,"mode":"text","delay":"0","topic":"BATH:TEMP:SP","x":200,"y":180,"wires":[["aeaa4ce.6dcc0b"]]},{"id":"46e40f10.7d63e","type":"inject","z":"1c961d4e.c1cfd3","name":"BATH:TEMP:PV","topic":"BATH:TEMP:PV","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":190,"y":260,"wires":[["aeaa4ce.6dcc0b"]]},{"id":"e05c87eb.8fedc8","type":"inject","z":"1c961d4e.c1cfd3","name":"SENSOR:TEMP:PV","topic":"SENSOR:TEMP:PV","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":"11","x":180,"y":300,"wires":[["aeaa4ce.6dcc0b"]]},{"id":"6ade2d99.630e04","type":"delay","z":"1c961d4e.c1cfd3","name":"limit msg rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":420,"wires":[["d06f37ea.3e78a8"]]},{"id":"516fb3b8.89497c","type":"function","z":"1c961d4e.c1cfd3","name":"format command","func":"switch (msg.command) {\n    case \"BATH:REMOTE:START\":\n        msg.payload = \"out_mode_05 1 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:REMOTE:STOP\":\n        msg.payload = \"out_mode_05 0 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:TEMP:SP\":\n        msg.payload = \"out_sp_00 \" + String(msg.payload) + \" \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:TEMP:PV\":\n        msg.payload = \"in_pv_00 \\r\";\n        node.send(msg);\n        break;\n    case \"SENSOR:TEMP:PV\":\n        msg.payload = \"in_pv_03 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:MODE\":\n        parameter = msg.payload;\n        msg.payload = \"out_mode_05 0 \\r\"; node.send(msg);\n        setTimeout(function() {\n            msg1 = {\n                \"payload\": \"out_mode_04 \" + String(Number(parameter)) + \" \\r\",\n                \"topic\": msg.topic\n            };\n            node.send(msg1)\n        }, 300);    \n        setTimeout(function() {\n            msg.payload = \"out_mode_05 1 \\r\";\n            node.send(msg);\n        }, 600);\n        break;\n    default:\n        break;\n}","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["9206eb4a.067278"]]},{"id":"c371a7f1.bcd678","type":"inject","z":"1c961d4e.c1cfd3","name":"BATH:REMOTE:START","topic":"BATH:REMOTE:START","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":170,"y":80,"wires":[["aeaa4ce.6dcc0b"]]},{"id":"2203cf61.19206","type":"inject","z":"1c961d4e.c1cfd3","name":"BATH:REMOTE:STOP","topic":"BATH:REMOTE:STOP","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":180,"y":120,"wires":[["aeaa4ce.6dcc0b"]]},{"id":"4549fcb.48bb304","type":"ui_switch","z":"1c961d4e.c1cfd3","name":"Mode","label":"Tr Mode","tooltip":"Set Julabo mode to Tr","group":"9e5441cb.7c9eb","order":4,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"BATH:MODE","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":220,"wires":[["aeaa4ce.6dcc0b"]]},{"id":"fb3fa5ba.d68cc8","type":"function","z":"1c961d4e.c1cfd3","name":"extract value","func":"let value = Number(msg.payload[0][\"temperature\"]);\n\nswitch (msg.payload[1][\"sensor\"]) {\n    case \"BATH\":\n        msg.payload = value;\n        return [msg, null];\n    case \"SENSOR\":\n        msg.payload = value;\n        return [null, msg];\n    default:\n        break;\n}\nreturn msg;","outputs":2,"noerr":0,"x":850,"y":700,"wires":[["31e7720c.9ee04e"],["febe4600.d50bc8"]]},{"id":"cf30ae60.e8a68","type":"influxdb out","z":"1c961d4e.c1cfd3","influxdb":"2e033692.9a2b6a","name":"crystallization","measurement":"crystallization","precision":"","retentionPolicy":"","x":1100,"y":600,"wires":[]},{"id":"31e7720c.9ee04e","type":"ui_gauge","z":"1c961d4e.c1cfd3","name":"BATH:TEMP:PV","group":"9e5441cb.7c9eb","order":1,"width":"6","height":"4","gtype":"gage","title":"Bath PV","label":"C","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1140,"y":680,"wires":[]},{"id":"febe4600.d50bc8","type":"ui_gauge","z":"1c961d4e.c1cfd3","name":"SENSOR:TEMP:PV","group":"9e5441cb.7c9eb","order":3,"width":"6","height":"4","gtype":"gage","title":"Sensor PV","label":"C","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1140,"y":740,"wires":[]},{"id":"9951a8e2.2ef168","type":"function","z":"1c961d4e.c1cfd3","name":"format response","func":"let requestComponents = msg.topic.split(\":\");\nlet equipment = requestComponents.slice(0,2).join(\":\");\nlet sensor = requestComponents[2];\n    \nmsg.payload = [\n    {\n        \"temperature\": Number(msg.payload.toString(\"utf8\"))\n    },\n    {\n        \"equipment\": equipment,\n        \"sensor\": sensor,\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":420,"wires":[["cf30ae60.e8a68","fb3fa5ba.d68cc8"]]},{"id":"d06f37ea.3e78a8","type":"function","z":"1c961d4e.c1cfd3","name":"get request","func":"let requestComponents = msg.topic.split(\":\");\nmsg.command = requestComponents.slice(2, requestComponents.length).join(\":\");\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["516fb3b8.89497c"]]},{"id":"aeaa4ce.6dcc0b","type":"function","z":"1c961d4e.c1cfd3","name":"format request TCU:2","func":"msg.topic = \"TCU:2:\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["6ade2d99.630e04"]]},{"id":"99f79867.06aeb8","type":"tcp request","z":"f4a5a432.977d58","server":"192.168.1.113","port":"5000","out":"sit","splitc":" ","name":"TCU 3","x":890,"y":420,"wires":[["93939af2.e7fae8"]]},{"id":"fefbaaf9.059e48","type":"ui_text_input","z":"f4a5a432.977d58","name":"BATH:TEMP:SP","label":"SP","tooltip":"Working temperature set point for Julabo 3","group":"9d5c6cc6.dbe65","order":6,"width":"2","height":"1","passthru":true,"mode":"text","delay":"0","topic":"BATH:TEMP:SP","x":240,"y":180,"wires":[["50ece4a.13f971c"]]},{"id":"7191e22d.ca342c","type":"inject","z":"f4a5a432.977d58","name":"BATH:TEMP:PV","topic":"BATH:TEMP:PV","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":230,"y":260,"wires":[["50ece4a.13f971c"]]},{"id":"408443a0.9c157c","type":"inject","z":"f4a5a432.977d58","name":"SENSOR:TEMP:PV","topic":"SENSOR:TEMP:PV","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":"11","x":220,"y":300,"wires":[["50ece4a.13f971c"]]},{"id":"6b6e94b5.8aec9c","type":"delay","z":"f4a5a432.977d58","name":"limit msg rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":420,"wires":[["3eee1d64.e41e32"]]},{"id":"2fdb4009.332a5","type":"function","z":"f4a5a432.977d58","name":"format command","func":"switch (msg.command) {\n    case \"BATH:REMOTE:START\":\n        msg.payload = \"out_mode_05 1 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:REMOTE:STOP\":\n        msg.payload = \"out_mode_05 0 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:TEMP:SP\":\n        msg.payload = \"out_sp_00 \" + String(msg.payload) + \" \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:TEMP:PV\":\n        msg.payload = \"in_pv_00 \\r\";\n        node.send(msg);\n        break;\n    case \"SENSOR:TEMP:PV\":\n        msg.payload = \"in_pv_03 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:MODE\":\n        parameter = msg.payload;\n        msg.payload = \"out_mode_05 0 \\r\"; node.send(msg);\n        setTimeout(function() {\n            msg1 = {\n                \"payload\": \"out_mode_04 \" + String(Number(parameter)) + \" \\r\",\n                \"topic\": msg.topic\n            };\n            node.send(msg1)\n        }, 300);    \n        setTimeout(function() {\n            msg.payload = \"out_mode_05 1 \\r\";\n            node.send(msg);\n        }, 600);\n        break;\n    default:\n        break;\n}","outputs":1,"noerr":0,"x":710,"y":420,"wires":[["99f79867.06aeb8"]]},{"id":"29ef4adb.8b8916","type":"inject","z":"f4a5a432.977d58","name":"BATH:REMOTE:START","topic":"BATH:REMOTE:START","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":210,"y":80,"wires":[["50ece4a.13f971c"]]},{"id":"620d6ec9.10c0a","type":"inject","z":"f4a5a432.977d58","name":"BATH:REMOTE:STOP","topic":"BATH:REMOTE:STOP","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":220,"y":120,"wires":[["50ece4a.13f971c"]]},{"id":"acbe09cf.0b5258","type":"ui_switch","z":"f4a5a432.977d58","name":"Mode","label":"Tr Mode","tooltip":"Set Julabo mode to Tr","group":"9d5c6cc6.dbe65","order":4,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"BATH:MODE","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":220,"wires":[["50ece4a.13f971c"]]},{"id":"7b55336c.5110fc","type":"function","z":"f4a5a432.977d58","name":"extract value","func":"let value = Number(msg.payload[0][\"temperature\"]);\n\nswitch (msg.payload[1][\"sensor\"]) {\n    case \"BATH\":\n        msg.payload = value;\n        return [msg, null];\n    case \"SENSOR\":\n        msg.payload = value;\n        return [null, msg];\n    default:\n        break;\n}\nreturn msg;","outputs":2,"noerr":0,"x":890,"y":700,"wires":[["3f1974ac.cd400c"],["84b81154.51a19"]]},{"id":"124a5f8c.2fd32","type":"influxdb out","z":"f4a5a432.977d58","influxdb":"2e033692.9a2b6a","name":"crystallization","measurement":"crystallization","precision":"","retentionPolicy":"","x":1140,"y":600,"wires":[]},{"id":"3f1974ac.cd400c","type":"ui_gauge","z":"f4a5a432.977d58","name":"BATH:TEMP:PV","group":"9d5c6cc6.dbe65","order":1,"width":"6","height":"4","gtype":"gage","title":"Bath PV","label":"C","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":680,"wires":[]},{"id":"84b81154.51a19","type":"ui_gauge","z":"f4a5a432.977d58","name":"SENSOR:TEMP:PV","group":"9d5c6cc6.dbe65","order":3,"width":"6","height":"4","gtype":"gage","title":"Sensor PV","label":"C","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":740,"wires":[]},{"id":"93939af2.e7fae8","type":"function","z":"f4a5a432.977d58","name":"format response","func":"let requestComponents = msg.topic.split(\":\");\nlet equipment = requestComponents.slice(0,2).join(\":\");\nlet sensor = requestComponents[2];\n    \nmsg.payload = [\n    {\n        \"temperature\": Number(msg.payload.toString(\"utf8\"))\n    },\n    {\n        \"equipment\": equipment,\n        \"sensor\": sensor,\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":420,"wires":[["124a5f8c.2fd32","7b55336c.5110fc"]]},{"id":"3eee1d64.e41e32","type":"function","z":"f4a5a432.977d58","name":"get request","func":"let requestComponents = msg.topic.split(\":\");\nmsg.command = requestComponents.slice(2, requestComponents.length).join(\":\");\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["2fdb4009.332a5"]]},{"id":"50ece4a.13f971c","type":"function","z":"f4a5a432.977d58","name":"format request TCU:3","func":"msg.topic = \"TCU:3:\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["6b6e94b5.8aec9c"]]},{"id":"c657ccd.44b363","type":"function","z":"911ec690.702d28","name":"get request","func":"let requestComponents = msg.topic.split(\":\");\nmsg.command = requestComponents.slice(2, requestComponents.length).join(\":\");\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["6de160.8aa25ea"]]},{"id":"1ea3ea9c.7d0ef5","type":"function","z":"911ec690.702d28","name":"format request STIR:3","func":"msg.topic = \"STIR:3:\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":160,"wires":[["4bdedaaa.6b7704"]]},{"id":"54012be1.bc0c84","type":"function","z":"911ec690.702d28","name":"format response","func":"let requestComponents = msg.topic.split(\":\");\nlet equipment = requestComponents.slice(0,2).join(\":\");\n    \nmsg.payload = [\n    {\n        \"rate\": Number(msg.payload.toString(\"utf8\").split(\" \")[0])\n    },\n    {\n        \"equipment\": equipment,\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":260,"wires":[["dd9c53ad.17b97","efdcd704.138d58"]]},{"id":"efdcd704.138d58","type":"function","z":"911ec690.702d28","name":"extract value","func":"msg.payload = msg.payload[0][\"rate\"];\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":400,"wires":[["d625a542.2a0b68"]]},{"id":"277375a1.deb16a","type":"tcp request","z":"7b3ed3e0.a30c8c","server":"192.168.1.142","port":"10001","out":"time","splitc":"100","name":"Stir 2","x":870,"y":280,"wires":[["14b320d9.97c6ef"]]},{"id":"be4fe6b0.b49bf8","type":"function","z":"7b3ed3e0.a30c8c","name":"format command","func":"switch (msg.command) {\n    case \"SPEED:PV\":\n        msg.payload = \"IN_PV_4\" + \" \";\n        msg.payload = msg.payload + String.fromCodePoint(13) + \" \" + String.fromCodePoint(10);\n        node.send(msg);\n        break;\n    case \"SPEED:SP\":\n        msg.payload = \"OUT_SP_4\" + \" \" + String(msg.payload);\n        msg.payload = msg.payload + String.fromCodePoint(13) + \" \" + String.fromCodePoint(10);\n        node.send(msg);\n        break;\n    case \"START\":\n        msg.payload = \"START_4\" + \" \";\n        msg.payload = msg.payload + String.fromCodePoint(13) + \" \" + String.fromCodePoint(10);\n        node.send(msg);\n        break;\n    case \"STOP\":\n        msg.payload = \"STOP_4\" + \" \";\n        msg.payload = msg.payload + String.fromCodePoint(13) + \" \" + String.fromCodePoint(10);\n        node.send(msg);\n        break;\n    default:\n        break;\n}","outputs":1,"noerr":0,"x":690,"y":280,"wires":[["277375a1.deb16a"]]},{"id":"f2926cd7.6ad47","type":"inject","z":"7b3ed3e0.a30c8c","name":"SPEED:PV","topic":"SPEED:PV","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":160,"wires":[["2493c693.f0631a"]]},{"id":"f4d277c1.58be28","type":"influxdb out","z":"7b3ed3e0.a30c8c","influxdb":"2e033692.9a2b6a","name":"crystallization","measurement":"crystallization","precision":"","retentionPolicy":"","x":1140,"y":360,"wires":[]},{"id":"e0d190e3.a38f2","type":"ui_text_input","z":"7b3ed3e0.a30c8c","name":"SPEED:SP","label":"SP","tooltip":"Working temperature set point for Julabo 3","group":"8db4efb1.c26bb","order":3,"width":"2","height":"1","passthru":true,"mode":"text","delay":"0","topic":"SPEED:SP","x":130,"y":200,"wires":[["2493c693.f0631a"]]},{"id":"f19221cb.32078","type":"ui_gauge","z":"7b3ed3e0.a30c8c","name":"STIR:2 PV","group":"8db4efb1.c26bb","order":2,"width":"6","height":"4","gtype":"gage","title":"speed","label":"RPM","format":"{{value}}","min":"50","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":420,"wires":[]},{"id":"316f6c41.283c74","type":"delay","z":"7b3ed3e0.a30c8c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":280,"wires":[["5c76e739.bb1e98"]]},{"id":"5c76e739.bb1e98","type":"function","z":"7b3ed3e0.a30c8c","name":"get request","func":"let requestComponents = msg.topic.split(\":\");\nmsg.command = requestComponents.slice(2, requestComponents.length).join(\":\");\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["be4fe6b0.b49bf8"]]},{"id":"2493c693.f0631a","type":"function","z":"7b3ed3e0.a30c8c","name":"format request STIR:2","func":"msg.topic = \"STIR:2:\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["316f6c41.283c74"]]},{"id":"14b320d9.97c6ef","type":"function","z":"7b3ed3e0.a30c8c","name":"format response","func":"let requestComponents = msg.topic.split(\":\");\nlet equipment = requestComponents.slice(0,2).join(\":\");\n    \nmsg.payload = [\n    {\n        \"rate\": Number(msg.payload.toString(\"utf8\").split(\" \")[0])\n    },\n    {\n        \"equipment\": equipment,\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":280,"wires":[["f4d277c1.58be28","f3fc8b87.c4ef28"]]},{"id":"f3fc8b87.c4ef28","type":"function","z":"7b3ed3e0.a30c8c","name":"extract value","func":"msg.payload = msg.payload[0][\"rate\"];\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":420,"wires":[["f19221cb.32078"]]},{"id":"fc355388.182b5","type":"tcp request","z":"7a4bbbcd.f3de04","server":"192.168.1.143","port":"10001","out":"time","splitc":"100","name":"Stir 1","x":870,"y":300,"wires":[["d940263b.099f98"]]},{"id":"a6f0772c.369ed8","type":"function","z":"7a4bbbcd.f3de04","name":"format command","func":"switch (msg.command) {\n    case \"SPEED:PV\":\n        msg.payload = \"IN_PV_4\" + \" \";\n        msg.payload = msg.payload + String.fromCodePoint(13) + \" \" + String.fromCodePoint(10);\n        node.send(msg);\n        break;\n    case \"SPEED:SP\":\n        msg.payload = \"OUT_SP_4\" + \" \" + String(msg.payload);\n        msg.payload = msg.payload + String.fromCodePoint(13) + \" \" + String.fromCodePoint(10);\n        node.send(msg);\n        break;\n    case \"START\":\n        msg.payload = \"START_4\" + \" \";\n        msg.payload = msg.payload + String.fromCodePoint(13) + \" \" + String.fromCodePoint(10);\n        node.send(msg);\n        break;\n    case \"STOP\":\n        msg.payload = \"STOP_4\" + \" \";\n        msg.payload = msg.payload + String.fromCodePoint(13) + \" \" + String.fromCodePoint(10);\n        node.send(msg);\n        break;\n    default:\n        break;\n}","outputs":1,"noerr":0,"x":690,"y":300,"wires":[["fc355388.182b5"]]},{"id":"3f7f8acc.3586b6","type":"inject","z":"7a4bbbcd.f3de04","name":"SPEED:PV","topic":"SPEED:PV","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":180,"wires":[["691db992.e87678"]]},{"id":"1011555e.644a3b","type":"influxdb out","z":"7a4bbbcd.f3de04","influxdb":"2e033692.9a2b6a","name":"crystallization","measurement":"crystallization","precision":"","retentionPolicy":"","x":1140,"y":380,"wires":[]},{"id":"713dd65c.294b18","type":"ui_text_input","z":"7a4bbbcd.f3de04","name":"SPEED:SP","label":"SP","tooltip":"Working temperature set point for Julabo 3","group":"c12c7062.05da1","order":3,"width":"2","height":"1","passthru":true,"mode":"text","delay":"0","topic":"SPEED:SP","x":130,"y":220,"wires":[["691db992.e87678"]]},{"id":"868983cf.c3d7","type":"ui_gauge","z":"7a4bbbcd.f3de04","name":"STIR:1 PV","group":"c12c7062.05da1","order":2,"width":"6","height":"4","gtype":"gage","title":"speed","label":"RPM","format":"{{value}}","min":"50","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":440,"wires":[]},{"id":"d19b1f6.4e257e","type":"delay","z":"7a4bbbcd.f3de04","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":300,"wires":[["ad2c924d.cc9ee"]]},{"id":"ad2c924d.cc9ee","type":"function","z":"7a4bbbcd.f3de04","name":"get request","func":"let requestComponents = msg.topic.split(\":\");\nmsg.command = requestComponents.slice(2, requestComponents.length).join(\":\");\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["a6f0772c.369ed8"]]},{"id":"691db992.e87678","type":"function","z":"7a4bbbcd.f3de04","name":"format request STIR:1","func":"msg.topic = \"STIR:1:\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["d19b1f6.4e257e"]]},{"id":"d940263b.099f98","type":"function","z":"7a4bbbcd.f3de04","name":"format response","func":"let requestComponents = msg.topic.split(\":\");\nlet equipment = requestComponents.slice(0,2).join(\":\");\n    \nmsg.payload = [\n    {\n        \"rate\": Number(msg.payload.toString(\"utf8\").split(\" \")[0])\n    },\n    {\n        \"equipment\": equipment,\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":300,"wires":[["1011555e.644a3b","f5b48a8b.dce5e8"]]},{"id":"f5b48a8b.dce5e8","type":"function","z":"7a4bbbcd.f3de04","name":"extract value","func":"msg.payload = msg.payload[0][\"rate\"];\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":440,"wires":[["868983cf.c3d7"]]},{"id":"ca615eb5.8e289","type":"ui_switch","z":"7a4bbbcd.f3de04","name":"START / STOP","label":"STATE","tooltip":"Toggle START / STOP for the stirrer","group":"c12c7062.05da1","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"STATE","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":120,"y":140,"wires":[["1f7fb559.f8853b"]]},{"id":"1f7fb559.f8853b","type":"function","z":"7a4bbbcd.f3de04","name":"START / STOP","func":"if (msg.payload == \"ON\") {\n    msg.topic = \"START\";\n    msg.payload = \"\";\n}\nelse {\n    msg.topic = \"STOP\";\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["691db992.e87678"]]},{"id":"e45f51ab.bcff1","type":"ui_switch","z":"7b3ed3e0.a30c8c","name":"START / STOP","label":"STATE","tooltip":"Toggle START / STOP for the stirrer","group":"8db4efb1.c26bb","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"STATE","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":100,"y":120,"wires":[["870ef6cf.c3bd18"]]},{"id":"870ef6cf.c3bd18","type":"function","z":"7b3ed3e0.a30c8c","name":"START / STOP","func":"if (msg.payload == \"ON\") {\n    msg.topic = \"START\";\n    msg.payload = \"\";\n}\nelse {\n    msg.topic = \"STOP\";\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["2493c693.f0631a"]]},{"id":"8c4860a4.bebe1","type":"ui_switch","z":"911ec690.702d28","name":"START / STOP","label":"STATE","tooltip":"Toggle START / STOP for the stirrer","group":"a3b3653e.498ac8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"STATE","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":100,"y":100,"wires":[["ef96ca75.8bdd58"]]},{"id":"ef96ca75.8bdd58","type":"function","z":"911ec690.702d28","name":"START / STOP","func":"if (msg.payload == \"ON\") {\n    msg.topic = \"START\";\n    msg.payload = \"\";\n}\nelse {\n    msg.topic = \"STOP\";\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["1ea3ea9c.7d0ef5"]]},{"id":"e0da46df.047848","type":"function","z":"2410a9c4.77f756","name":"format command","func":"let address = null;\nlet value = null;\nflow.set(\"request\", msg.topic);\n\nfunction sendFloat(value, address) {\n    let buf = Buffer.allocUnsafe(4);\n    buf.writeFloatBE(value);\n    let bytes = buf.toJSON()[\"data\"];\n    let reg1 = Buffer.from([bytes[2], bytes[3]]).readUInt16BE();\n    let reg2 = Buffer.from([bytes[0], bytes[1]]).readUInt16BE();\n    \n    setTimeout(function() {\n        node.send({\n                \"payload\": {\n                    \"fc\": 6,\n                    \"unitid\": 253,\n                    \"address\": address,\n                    \"value\": reg1,\n                    \"quantity\": 1\n                }\n        });\n    }, 100);\n    \n    setTimeout(function() {\n        node.send({\n                \"payload\": {\n                    \"fc\": 6,\n                    \"unitid\": 253,\n                    \"address\": address+1,\n                    \"value\": reg2,\n                    \"quantity\": 1\n                }\n        });\n    }, 2000);\n}\n\nfunction sendCoil(value, address) {\n    node.send({\n        \"payload\": {\n            \"fc\": 5,\n            \"unitid\": 253,\n            \"address\": address,\n            \"value\": value,\n            \"quantity\": 1\n        }\n    });\n}\n\nfunction readFloat(address) {\n    node.send({\n        \"payload\": {\n            'fc': 3, \n            'unitid': 253, \n            'address': address, \n            'quantity': 2 \n        }\n    });\n}\n\nswitch (msg.topic) {\n    case \"PUMP:1:RATE:SP\":\n        address = 3800;\n        value = msg.payload;\n        sendFloat(value, address);\n        break;\n    case \"PUMP:2:RATE:SP\":\n        address = 3802;\n        value = msg.payload;\n        sendFloat(value, address);\n        break;\n    case \"PUMP:3:RATE:SP\":\n        address = 3804;\n        value = msg.payload;\n        sendFloat(value, address);\n        break;\n    case \"PUMP:4:RATE:SP\":\n        address = 3806;\n        value = msg.payload;\n        sendFloat(value, address);\n        break;\n    case \"PUMP:1:STATE\":\n        address = 0;\n        value = msg.payload === true ? 1 : 0;\n        sendCoil(value, address);\n        break;\n    case \"PUMP:2:STATE\":\n        address = 2;\n        value = msg.payload === true ? 1 : 0;\n        sendCoil(value, address);\n        break;\n    case \"PUMP:3:STATE\":\n        address = null;\n        value = msg.payload === true ? 1 : 0;\n        sendCoil(value, address);\n        break;\n    case \"PUMP:4:STATE\":\n        address = null;\n        value = msg.payload === true ? 1 : 0;\n        sendCoil(value, address);\n        break;\n    case \"PUMP:1:RATE:PV\":\n        address = 3600;\n        readFloat(address);\n        break;\n    case \"PUMP:2:RATE:PV\":\n        address = 3602;\n        readFloat(address);\n        break;\n    case \"PUMP:3:RATE:PV\":\n        address = 3604;\n        readFloat(address);\n        break;\n    case \"PUMP:4:RATE:PV\":\n        address = 3606;\n        readFloat(address);\n        break;\n    default:\n        msg.payload[\"address\"] = NaN;\n        break;\n}","outputs":1,"noerr":0,"x":470,"y":620,"wires":[["1ccd5b6c.04cb45"]]},{"id":"1ccd5b6c.04cb45","type":"function","z":"2410a9c4.77f756","name":"Switch Write / Read","func":"\nif (msg.payload[\"fc\"] == 3) {\n    return [null, msg];\n}\nelse {\n    return [msg, null];\n}","outputs":2,"noerr":0,"x":670,"y":620,"wires":[["7036ad2.8319054"],["650f069b.3421b8"]]},{"id":"fee6c566.d44118","type":"function","z":"2410a9c4.77f756","name":"split pump","func":"let pump = msg.payload[1].equipment.split(\":\")[1];\nlet rate = msg.payload[0].rate;\nmsg.payload = rate;\nswitch (pump) {\n    case \"1\":\n        return [msg, null, null, null];\n    case \"2\":\n        return [null, msg, null, null];\n    case \"3\":\n        return [null, null, msg, null];\n    case \"4\":\n        return [null, null, null, msg];\n}","outputs":4,"noerr":0,"x":970,"y":860,"wires":[["b4afc793.d2b188"],["a12016c2.e83da8"],["a4e24f35.c8512"],["ce291150.b6531"]]},{"id":"8e2750c7.25666","type":"tcp request","z":"eb47fea0.87ca9","server":"192.168.1.111","port":"5000","out":"sit","splitc":" ","name":"192.168.1.111","x":860,"y":180,"wires":[[]]},{"id":"191ac422.7e66dc","type":"function","z":"eb47fea0.87ca9","name":"make command","func":"switch (msg.payload.command) {\n    case \"BATH:REMOTE:START\":\n        msg.payload = \"out_mode_05 1 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:REMOTE:STOP\":\n        msg.payload = \"out_mode_05 0 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:TEMP:SP\":\n        msg.payload = \"out_sp_00 \" + String(msg.payload) + \" \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:TEMP:PV\":\n        msg.payload = \"in_pv_00 \\r\";\n        node.send(msg);\n        break;\n    case \"SENSOR:TEMP:PV\":\n        msg.payload = \"in_pv_03 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:MODE\":\n        parameter = msg.payload;\n        msg.payload = \"out_mode_05 0 \\r\"; node.send(msg);\n        setTimeout(function() {\n            msg1 = {\n                \"payload\": \"out_mode_04 \" + String(Number(parameter)) + \" \\r\",\n                \"topic\": msg.topic\n            };\n            node.send(msg1)\n        }, 300);    \n        setTimeout(function() {\n            msg.payload = \"out_mode_05 1 \\r\";\n            node.send(msg);\n        }, 600);\n        break;\n    default:\n        break;\n}","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["b5bc8b4d.1991e8"]]},{"id":"9f929e11.bef03","type":"function","z":"eb47fea0.87ca9","name":"format response","func":"let value = Number(msg.payload.toString(\"utf8\"))\nmsg.payload = flow.get(\"payload\");\nmsg.topic = flow.get(\"topic\");\nmsg.payload.value = value;\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":200,"wires":[["499ba3e7.6c396c"]]},{"id":"dcdb27a5.bc7698","type":"websocket in","z":"55e3c78a.a11168","name":"crystallizer input","server":"81401fd3.c5d93","client":"","x":160,"y":180,"wires":[[]]},{"id":"1e51ba20.bbb616","type":"switch","z":"55e3c78a.a11168","name":"","property":"payload.equipment","propertyType":"msg","rules":[{"t":"eq","v":"TCU:1","vt":"str"},{"t":"eq","v":"TCU:2","vt":"str"},{"t":"eq","v":"TCU:3","vt":"str"},{"t":"eq","v":"STIR:1","vt":"str"},{"t":"eq","v":"STIR:2","vt":"str"},{"t":"eq","v":"STIR:3","vt":"str"},{"t":"eq","v":"PLC:1","vt":"str"},{"t":"eq","v":"IR:1","vt":"str"},{"t":"eq","v":"FBRM:1","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":530,"y":180,"wires":[["98b1e7b0.315608","9334bc3e.ae887"],["b501edf2.c4c1c","9334bc3e.ae887"],[],[],[],[],[],[],[]]},{"id":"4e31ee7.45f3f1","type":"delay","z":"eb47fea0.87ca9","name":"limit msg rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":200,"wires":[["66860c19.d948f4"]]},{"id":"66860c19.d948f4","type":"function","z":"eb47fea0.87ca9","name":"set flow variables","func":"flow.set(\"payload\", msg.payload);\nflow.set(\"topic\", msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["191ac422.7e66dc"]]},{"id":"54ff96e8.c3f988","type":"link in","z":"eb47fea0.87ca9","name":"flow in TCU:1","links":["98b1e7b0.315608"],"x":95,"y":200,"wires":[["4e31ee7.45f3f1"]]},{"id":"499ba3e7.6c396c","type":"link out","z":"eb47fea0.87ca9","name":"flow out TCU:1","links":["e497f18e.96f0c"],"x":1215,"y":200,"wires":[]},{"id":"98b1e7b0.315608","type":"link out","z":"55e3c78a.a11168","name":"socket to TCU:1","links":["54ff96e8.c3f988"],"x":655,"y":60,"wires":[]},{"id":"72415475.71354c","type":"websocket out","z":"55e3c78a.a11168","name":"crystallizer output","server":"81401fd3.c5d93","client":"","x":990,"y":440,"wires":[]},{"id":"e497f18e.96f0c","type":"link in","z":"55e3c78a.a11168","name":"TCU:1 to socket","links":["499ba3e7.6c396c"],"x":515,"y":460,"wires":[["3cf85bc3.0af0f4","e1d6a73b.fb58d8"]]},{"id":"bde45bb0.bce7e8","type":"influxdb out","z":"55e3c78a.a11168","influxdb":"2e033692.9a2b6a","name":"crystallization","measurement":"crystallization","precision":"","retentionPolicy":"","x":920,"y":400,"wires":[]},{"id":"846decbf.bc25e","type":"inject","z":"55e3c78a.a11168","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["24d377e9.1b5138"]]},{"id":"e1d6a73b.fb58d8","type":"debug","z":"55e3c78a.a11168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":520,"wires":[]},{"id":"b5bc8b4d.1991e8","type":"function","z":"eb47fea0.87ca9","name":"fake response","func":"msg.payload = Buffer.from(\"5\");\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":240,"wires":[["9f929e11.bef03","27c1d4ab.cc9e9c"]]},{"id":"24d377e9.1b5138","type":"function","z":"55e3c78a.a11168","name":"get PVs","func":"node.send({\n    \"payload\": {\n        \"equipment\": \"TCU:1\",\n        \"command\": \"BATH:TEMP:PV\",\n        \"value\": null\n    },\n    \"topic\": \"update\"\n});\nnode.send({\n    \"payload\": {\n        \"equipment\": \"TCU:2\",\n        \"command\": \"BATH:TEMP:PV\",\n        \"value\": null\n    },\n    \"topic\": \"update\"\n});","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["1e51ba20.bbb616"]]},{"id":"9334bc3e.ae887","type":"debug","z":"55e3c78a.a11168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":120,"wires":[]},{"id":"27c1d4ab.cc9e9c","type":"debug","z":"eb47fea0.87ca9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1060,"y":300,"wires":[]},{"id":"3cf85bc3.0af0f4","type":"function","z":"55e3c78a.a11168","name":"aggregate data","func":"\ncontext.set(\"processState\", {});\nif (msg.topic === \"update\") {\n    let processState = context.get(\"processState\") | {};\n    msg.payload = Object.assign(processState, msg.payload);\n    return [msg, null];\n}\nreturn msg;","outputs":2,"noerr":0,"x":700,"y":460,"wires":[["72415475.71354c"],[]]},{"id":"245007c.0e0ebf8","type":"function","z":"9e715a5d.aad318","name":"make command","func":"switch (msg.payload.command) {\n    case \"BATH:REMOTE:START\":\n        msg.payload = \"out_mode_05 1 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:REMOTE:STOP\":\n        msg.payload = \"out_mode_05 0 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:TEMP:SP\":\n        msg.payload = \"out_sp_00 \" + String(msg.payload) + \" \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:TEMP:PV\":\n        msg.payload = \"in_pv_00 \\r\";\n        node.send(msg);\n        break;\n    case \"SENSOR:TEMP:PV\":\n        msg.payload = \"in_pv_03 \\r\";\n        node.send(msg);\n        break;\n    case \"BATH:MODE\":\n        parameter = msg.payload;\n        msg.payload = \"out_mode_05 0 \\r\"; node.send(msg);\n        setTimeout(function() {\n            msg1 = {\n                \"payload\": \"out_mode_04 \" + String(Number(parameter)) + \" \\r\",\n                \"topic\": msg.topic\n            };\n            node.send(msg1)\n        }, 300);    \n        setTimeout(function() {\n            msg.payload = \"out_mode_05 1 \\r\";\n            node.send(msg);\n        }, 600);\n        break;\n    default:\n        break;\n}","outputs":1,"noerr":0,"x":660,"y":200,"wires":[["5df08ae.b66cf74"]]},{"id":"d28135dd.d17ea8","type":"function","z":"9e715a5d.aad318","name":"format response","func":"let value = Number(msg.payload.toString(\"utf8\"))\nmsg.payload = flow.get(\"payload\");\nmsg.topic = flow.get(\"topic\");\nmsg.payload.value = value;\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":200,"wires":[["6022a274.2dd06c"]]},{"id":"7841d151.92d77","type":"delay","z":"9e715a5d.aad318","name":"limit msg rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":200,"wires":[["b0a20435.14c978"]]},{"id":"b0a20435.14c978","type":"function","z":"9e715a5d.aad318","name":"set flow variables","func":"flow.set(\"payload\", msg.payload);\nflow.set(\"topic\", msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["245007c.0e0ebf8"]]},{"id":"a3f486d6.8a7b48","type":"link in","z":"9e715a5d.aad318","name":"flow in TCU:2","links":["b501edf2.c4c1c"],"x":115,"y":200,"wires":[["7841d151.92d77"]]},{"id":"5df08ae.b66cf74","type":"function","z":"9e715a5d.aad318","name":"fake response","func":"msg.payload = Buffer.from(\"5\");\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":240,"wires":[["d28135dd.d17ea8","d3241f1.2431ce"]]},{"id":"d3241f1.2431ce","type":"debug","z":"9e715a5d.aad318","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1080,"y":300,"wires":[]},{"id":"dd23c403.bb87f8","type":"tcp request","z":"9e715a5d.aad318","server":"192.168.1.112","port":"5000","out":"sit","splitc":" ","name":"192.168.1.112","x":880,"y":180,"wires":[[]]},{"id":"b501edf2.c4c1c","type":"link out","z":"55e3c78a.a11168","name":"socket to TCU:2","links":["a3f486d6.8a7b48"],"x":655,"y":100,"wires":[]},{"id":"6022a274.2dd06c","type":"link out","z":"9e715a5d.aad318","name":"flow out TCU:2","links":["1e5e418d.462e6e"],"x":1240,"y":200,"wires":[]},{"id":"1e5e418d.462e6e","type":"link in","z":"55e3c78a.a11168","name":"TCU:2 to socket","links":["6022a274.2dd06c"],"x":515,"y":500,"wires":[["3cf85bc3.0af0f4","e1d6a73b.fb58d8"]]}]