node-red-user/flows.json
[{"id":"572971b7.1ddef","type":"tab","label":"Connector","disabled":false,"info":"# Demo\nThis flow demonstrates how to link to the control system to augment the\nautomation."},{"id":"2fca78d.f104e88","type":"tab","label":"User dashboard","disabled":false,"info":"# Demo\nThis flow demonstrates how to link to the control system to augment the\nautomation."},{"id":"b57970.9a6cb69","type":"websocket-client","z":"","path":"ws://10.131.0.175:1880/ws/crystallizer","tls":"","wholemsg":"false"},{"id":"9c8625bf.413c88","type":"ui_tab","z":"","name":"Demo","icon":"dashboard","disabled":false,"hidden":false},{"id":"17c8ec71.c76f94","type":"ui_group","z":"","name":"STIR","tab":"9c8625bf.413c88","disp":true,"width":"6","collapse":false},{"id":"190edac5.c421d5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"28df66eb.2e10ea","type":"ui_group","z":"","name":"TCU","tab":"9c8625bf.413c88","disp":true,"width":"8","collapse":false},{"id":"caad47d5.e17148","type":"function","z":"2fca78d.f104e88","name":"select data","func":"msg.payload = JSON.parse(msg.payload);\nif (msg.payload.equipment===\"TCU:1\" & msg.payload.command===\"BATH:TEMP:PV\") {\n    msg.payload = msg.payload.value;\n    return msg;\n}","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["3a447bdf.c3e1b4"]],"info":"# Demo parser\nThe process data is transmitted as JSON objects\nover websockets. This node will parse the JSON\nobject and grab only the data desired."},{"id":"56299597.267d2c","type":"function","z":"2fca78d.f104e88","name":"select data","func":"msg.payload = JSON.parse(msg.payload);\nif (msg.payload.equipment===\"STIR:1\" & msg.payload.command===\"SPEED:PV\") {\n    msg.payload = msg.payload.value;\n    return msg;\n}","outputs":1,"noerr":0,"x":950,"y":180,"wires":[["be2cd89a.76dae8"]],"info":"# Demo parser\nThe process data is transmitted as JSON objects\nover websockets. This node will parse the JSON\nobject and grab only the data desired."},{"id":"be2cd89a.76dae8","type":"ui_gauge","z":"2fca78d.f104e88","name":"STIR:1","group":"17c8ec71.c76f94","order":0,"width":0,"height":0,"gtype":"gage","title":"STIR:1","label":"RPM","format":"{{value | number:1}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":180,"wires":[],"info":"# Graph\nThere are many nodes that can be used to create\na personalzed dashboard. This is a guage example."},{"id":"44f11498.7fc58c","type":"link in","z":"2fca78d.f104e88","name":"to TCU","links":["d0a76dfe.465c9","e77e2cf9.d2da5"],"x":255,"y":180,"wires":[["caad47d5.e17148"]]},{"id":"59bf8186.9c3ac","type":"link in","z":"2fca78d.f104e88","name":"to STIR","links":["d0a76dfe.465c9","e77e2cf9.d2da5"],"x":835,"y":180,"wires":[["56299597.267d2c"]]},{"id":"a90456fe.8fcbb8","type":"ui_slider","z":"2fca78d.f104e88","name":"STIR:1","label":"STIR set point","tooltip":"","group":"17c8ec71.c76f94","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"250","step":1,"x":870,"y":400,"wires":[["76d6775d.527f98"]]},{"id":"76d6775d.527f98","type":"function","z":"2fca78d.f104e88","name":"format request","func":"msg.payload = {\n    equipment: \"STIR:1\",\n    command: \"SPEED:SP\",\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":400,"wires":[["cc551627.425bc8"]]},{"id":"cc551627.425bc8","type":"link out","z":"2fca78d.f104e88","name":"from STIR:1","links":["fd0bcd49.9c104","1e080a4.5aafdf6"],"x":1165,"y":400,"wires":[]},{"id":"83868713.0ce138","type":"websocket in","z":"572971b7.1ddef","name":"crystallizer controller","server":"","client":"b57970.9a6cb69","x":270,"y":200,"wires":[["e77e2cf9.d2da5"]],"info":"# Connector to controller\nThe controller uses websockets to provide\ndata to the outside."},{"id":"e77e2cf9.d2da5","type":"link out","z":"572971b7.1ddef","name":"incoming websocket msg","links":["44f11498.7fc58c","59bf8186.9c3ac"],"x":415,"y":200,"wires":[]},{"id":"6a87c507.27c96c","type":"websocket out","z":"572971b7.1ddef","name":"crystallizer controller","server":"","client":"b57970.9a6cb69","x":980,"y":200,"wires":[]},{"id":"1e080a4.5aafdf6","type":"link in","z":"572971b7.1ddef","name":"outgoing websocket msg","links":["bf492119.68a4e","cc551627.425bc8"],"x":815,"y":200,"wires":[["6a87c507.27c96c"]]},{"id":"b7382595.b87bf8","type":"comment","z":"2fca78d.f104e88","name":"TCU plot","info":"# ","x":360,"y":140,"wires":[]},{"id":"3a447bdf.c3e1b4","type":"ui_chart","z":"2fca78d.f104e88","name":"TCU:1","group":"28df66eb.2e10ea","order":0,"width":"8","height":"5","label":"TCU:1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":180,"wires":[[]]},{"id":"321047e1.4319a8","type":"comment","z":"2fca78d.f104e88","name":"STIR guage","info":"","x":950,"y":140,"wires":[]},{"id":"73a59775.4b6af8","type":"comment","z":"2fca78d.f104e88","name":"STIR slider","info":"","x":1020,"y":360,"wires":[]}]